<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
    <customHeaders>
    <clear />
      <add name="Access-Control-Allow-Origin" value="*" />         
    </customHeaders>
    </httpProtocol>
    <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483648" />
    </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
        </staticContent>
  </system.webServer>
</configuration>